ALLOWED_ORIGINS=

AT_API_KEY=
AT_USERNAME=

# Cloudinary (for images)
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_FOLDER=
CLOUDINARY_URL=

# Emails setup
EMAIL_FROM=
EMAIL_HOST=
EMAIL_PASSWORD=
EMAIL_PORT=
EMAIL_SECURE=
EMAIL_USERNAME=

FRONTEND_URL=
JWT_SECRET=

MAILGUN_API_KEY=your-sandbox-api-key
MAILGUN_DOMAIN=
MAILGUN_EMAIL_FROM=
MONGO_URI=

VAPID_PRIVATE_KEY=
VAPID_PUBLIC_KEY=

GOOGLE_CLIENT_ID=
Client secret=