# Server Setup
PORT=5000
ALLOWED_ORIGINS=http://localhost:5173,https://your-frontend-domain.com
FRONTEND_URL=http://localhost:5173
JWT_SECRET=your_jwt_secret_key_here

# Database URI Strings
## Local string (Compass)
# MONGO_URI=mongodb://localhost:27017/university_db
## Online string (Atlas)
MONGO_URI=mongodb+srv://<username>:<password>@<cluster_name>.<cluster_id>.mongodb.net/<dbname>?retryWrites=true&w=majority

# Cloudinary (for image & document uploads)
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
CLOUDINARY_FOLDER=university_uploads

# Emails setup (Nodemailer / SMTP)
EMAIL_FROM=no-reply@yourdomain.com
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USERNAME=your_email@gmail.com
EMAIL_PASSWORD=your_app_password

# SMS setup (Africa's Talking)
AT_API_KEY=your_africastalking_api_key
AT_USERNAME=sandbox

# WebPush Notifications
VAPID_PUBLIC_KEY=your_vapid_public_key
VAPID_PRIVATE_KEY=your_vapid_private_key

# Google Auth Sign-In
GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_google_client_secret